circle {
  stroke: #2b3940 !important;
}

.mat-mdc-form-field-bottom-align {
  display: none;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  text-align: center;
  font-weight: bold;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
  border: none !important;
}

.correct {
  background-color: #17bf34;
}

.incorrect {
  background-color: red;
}

.partially-correct {
  background-color: orange;
}

table {
  border-collapse: separate;
  border-spacing: 50px 10px;
}

td {
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border-radius: 15px;
}

td:not(.hero-image) {
  box-shadow: rgba(0, 0, 0, 0.11) 0px 5px 10px, rgba(0, 0, 0, 0.19) 0px 3px 10px;
}
