<div class="container">
  <img src="/assets/logo.webp" style="width: 40%; height: auto" />

  <div style="margin-top: 20px">
    <div *ngIf="!isLoading; else loader">
      <div *ngIf="!showVictoryScreen; else victoryScreen">
        <div style="margin-top: 15px; display: flex; justify-content: center">
          <mat-form-field>
            <div>
              <input
                matInput
                type="text"
                #heroInput
                required
                placeholder="Choose hero..."
                [matAutocomplete]="auto"
                [formControl]="formControl"
                aria-label="Choose hero..."
              />
            </div>
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="submit($event)"
            >
              <mat-option
                *ngFor="let hero of filteredHeroes | async"
                [value]="hero.name"
              >
                <div
                  style="
                    padding-top: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  "
                >
                  <img [src]="hero.image" style="max-height: 50px" />
                  <span style="margin-left: 15px">{{ hero.name }}</span>
                </div>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div style="margin-top: 25px" *ngIf="submittedAnswers.length > 0">
          <table
            mat-table
            [dataSource]="dataSource"
            style="background-color: transparent"
          >
            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef>Hero</th>
              <td mat-cell *matCellDef="let element">
                <div
                  style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  "
                >
                  <img
                    [src]="element.image"
                    style="border: 2px solid black; height: 100px; width: 100px"
                  />
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef>Gender</th>
              <td
                mat-cell
                *matCellDef="let element"
                [ngClass]="
                  element.trivia.gender === correctHero.trivia.gender
                    ? 'correct'
                    : 'incorrect'
                "
              >
                {{ element.trivia.gender.toUpperCase() }}
              </td>
            </ng-container>

            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef>Role</th>
              <td
                mat-cell
                *matCellDef="let element"
                [ngClass]="
                  element.trivia.role === correctHero.trivia.role
                    ? 'correct'
                    : 'incorrect'
                "
              >
                {{ element.trivia.role.toUpperCase() }}
              </td>
            </ng-container>

            <ng-container matColumnDef="occupation">
              <th mat-header-cell *matHeaderCellDef>Occupation</th>
              <td
                mat-cell
                *matCellDef="let element"
                [ngClass]="
                  element.trivia.occupation === correctHero.trivia.occupation
                    ? 'correct'
                    : 'incorrect'
                "
              >
                <p *ngFor="let occupation of element.trivia.occupation">
                  {{ occupation.toUpperCase() }}
                </p>
              </td>
            </ng-container>

            <ng-container matColumnDef="weaponType">
              <th mat-header-cell *matHeaderCellDef>Weapon Type</th>
              <td
                mat-cell
                *matCellDef="let element"
                [ngClass]="
                  element.trivia.weaponType
                    | traitCorrectness : correctHero!.trivia!.weaponType
                "
              >
                <div
                  *ngFor="let trait of element.trivia.weaponType; let i = index"
                  [ngStyle]="{
                    marginTop: i > 0 ? '5px' : '10px',
                    marginBottom:
                      i == element.trivia.occupation.length - 1 ? '5px' : '00px'
                  }"
                >
                  {{ trait.toUpperCase() }}
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>

      <ng-template #victoryScreen>
        <div
          style="
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background-color: #17bf34;
            padding: 40px;
            border-radius: 20px;
            color: white;
          "
        >
          <span>You guessed:</span>
          <div style="margin-top: 25px; display: flex; align-items: center">
            <img [src]="correctHero.image" width="150" height="150" />
            <span style="margin-left: 15px; font-size: 24px">{{
              correctHero.name
            }}</span>
          </div>
        </div>
      </ng-template>
    </div>

    <ng-template #loader>
      <mat-spinner></mat-spinner>
    </ng-template>
  </div>
</div>
