<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  "
>
  <img src="/assets/logo.png" style="width: 40%; height: auto" />

  <div style="margin-top: 20px">
    <app-subpage-button
      title="Classic"
      icon="help_outline"
      url="/classic"
    ></app-subpage-button>

    <!-- <app-subpage-button
      title="Quote"
      subtitle="Guess with in-game quotes"
      icon="format_quote"
      url="quote"
    ></app-subpage-button> -->

    <!-- <app-subpage-button
      title="Ability"
      subtitle="One ability, one hero to find"
      icon="local_fire_department"
      url="/ability"
    ></app-subpage-button> -->

    <!-- <app-subpage-button
      title="Emoji"
      subtitle="Guess with a set of emojis"
      icon="mood"
      url="/emoji"
    ></app-subpage-button> -->
  </div>
</div>
